In [11]:
import os

# These credentials come from your 'API Token is now available' screen
os.environ['KAGGLE_USERNAME'] = "sangeethasanthoshkr"
os.environ['KAGGLE_KEY'] = "KGAT_917de4508b46287ea74154cedb9b844f"

# Download the dataset using the Kaggle API command
!kaggle datasets download -d saidaminsaidaxmadov/chocolate-sales

import zipfile

# Unzip the file into a folder named 'chocolate_data'
with zipfile.ZipFile('chocolate-sales.zip', 'r') as zip_ref:
    zip_ref.extractall('chocolate_data')

# Check what files are inside
import os
print(os.listdir('chocolate_data'))

import pandas as pd

# Load the file. Note: The filename must match exactly what appeared in Step 4.
df = pd.read_csv('chocolate_data/Chocolate Sales (2).csv')

# Look at the first 5 rows of your data
df.head()

Dataset URL: https://www.kaggle.com/datasets/saidaminsaidaxmadov/chocolate-sales
License(s): CC-BY-SA-4.0
chocolate-sales.zip: Skipping, found more recently modified local copy (use --force to force download)
['Chocolate Sales (2).csv', 'ChocolateSales.pbit', 'ChocolateSales.pbix', 'ChocolateSales.pdf']

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04/01/2022,"$5,320.00",180
1,Van Tuxwell,India,85% Dark Bars,01/08/2022,"$7,896.00",94
2,Gigi Bohling,India,Peanut Butter Cubes,07/07/2022,"$4,501.00",91
3,Jan Morforth,Australia,Peanut Butter Cubes,27/04/2022,"$12,726.00",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24/02/2022,"$13,685.00",184